<% layout("/layouts/boilerplate") -%>

<div class="index">
  <div><h2>User Registered</h2></div>
  <br />

  <% if(currUser) { %>
  <div class="row row-cols-lg-6 row-cols-md-6 row-cols-sm-4 content ml-3">
    <% for(let user of allUsers) { %> 
      <div class="card col listing-card">
        
        <div class="card-body">
          <p class="card-text">
            <i class="fa-solid fa-user-check"></i>
            <b> <%= user.username %> </b>
          </p>
        </div>
      </div>
    </a>
    <% } %>
  </div>
  <% } else { %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">You are not logged in!</h4>
      <p>
        You need to be logged in to view this page. Please log in or sign up.
      </p>
    </div>
  <% } %>
</div>
